In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("adult.data.csv")

In [3]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## How many people of each race are represented in this dataset?

In [7]:
race_populations = data.groupby("race").count()
race_populations

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
race,,,,,,,,,,,,,,
Amer-Indian-Eskimo,311,311,311,311,311,311,311,311,311,311,311,311,311,311
Asian-Pac-Islander,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039
Black,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124
Other,271,271,271,271,271,271,271,271,271,271,271,271,271,271
White,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816

## What is the average age of men?

In [6]:
avg_age = data.loc[data["sex"] == "Male"]["age"].mean()
avg_age

39.43354749885268

## What is the percentage of people who have a Bachelor's degree?

In [9]:
bachelor_percentage = (data.loc[data["education"] == "Bachelors"]["education"].count()*100)/data.shape[0]
bachelor_percentage

16.446055096587944

## What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [10]:
advanced_educ_over50K = (data.loc[((data["education"] == "Bachelors") | (data["education"] == "Masters") | (data["education"] == "Doctorate")) & (data["salary"] == ">=50K")].shape[0] * 100) / data.shape[0]
advanced_educ_over50K

0.0

## What percentage of people without advanced education make more than 50K?

In [13]:
non_advanced_educ_over50K = (data.loc[~((data["education"] == "Bachelors") | (data["education"] == "Masters") | (data["education"] == "Doctorate")) & (data["salary"] == ">=50K")].shape[0] * 100) / data.shape[0]
non_advanced_educ_over50K

0.0

In [15]:
data.loc[data["salary"] == ">50K"].count()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

In [16]:
data["salary"].unique()

array(['<=50K', '>50K'], dtype=object)